

<br>
<h2 class="text-center">
  <%= @question.content %>
</h2>

<div class="answers text-center">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <span class="glyphicon glyphicon-thumbs-down"></span>
</div>
