

<br>
<h2 class="text-center question">
  <%= @question.content %>
</h2>

<div class="answers text-center">
  <%= link_to add_points_question_path(@question), method: "post" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end %>
  <%= link_to add_points_question_path(@question), method: "post" do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
  <% end %>
</div>
