<div class="container">
  <%= render 'shared/alerts' %>

  <div class="page-header">
    <h3>Διαφημιζόμενες Επιχειρήσεις</h3>
  </div>

  <div class="list-group">
    <% @ads.each do |ad| %>
      <%= link_to ad_path(ad), class: "list-group-item" do %>
        <%= ad.content %>
      <% end %>
    <% end %>
  </div>
</div>
