
  <div class="well hidden">
    <%= @ad.content %>
  </div>

  <div class="text-center">
    <% if @ad.img_url %>
      <%= link_to add_points_ad_path(@ad), method: "post" do %>
        <%= image_tag @ad.img_url, style: "width:100%" %>
      <% end %>
    <% end %>
  </div>
