<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
	Διαφημίσεις
<% end %>

<div class="list-group">
    <% @ads.each do |ad| %>

      <%= link_to [:merchant, ad], class: 'list-group-item'  do%>
         <%= ad.content %>
      <% end %>
    <% end %>

</div>

<%= link_to 'New Ad', new_merchant_ad_path, :class => 'btn btn-primary' %>
