

<br>

<div class="panel panel-default">
	<div class="panel-heading">
		Αποστολή πόντων
	</div>
	<div class="panel-body">
		<br>
		<%= form_tag("/users/remove_points", method:"put") do %>
			<div class="form-group">
				<input type="text" name="email" class="form-control input-lg", placeholder='Το email του παραλήπτη'>
			<div>
			<div class="form-group" style="margin-top:10px;">
				<input type="text" name="points" class="form-control input-lg", placeholder='Πόσους πόντους θέλετε να στείλετε'>
			</div>
			<%= submit_tag('Αποστολή', :class=>"btn btn-danger btn-lg") %>
		<% end %>
	</div>
</div>
