

<br>

<div class="panel panel-default">
	<div class="panel-heading"
		<h2>Αριθμός Εισιτηρίου</h2>
	</div>
	<div class="panel-body">
		<br>
		<%= form_tag("/users/add_points",  method:"put") do %>
			<div class="form-group">
				<input type="text" name="ticket" class="form-control input-lg" />
			</div>
			<%= submit_tag('Καταχώρηση', :class=>"btn btn-danger btn-lg") %>
		<%end%>
	</div>
</div>
