<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Επιτρεπτές Διαδρομές
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <% BusRoute.all.each do |route| %>
          <div class="pull-left" style="width:45%"><input type="checkbox" value="<%=route.name%>"/> <%=route.name%></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Ηλικιακό Target Group
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div style="overflow_hidden"><input type="checkbox" /> 18 - 25</div>
        <div style="overflow_hidden"><input type="checkbox" /> 26 - 35</div>
        <div style="overflow_hidden"><input type="checkbox" /> 36 - 50</div>
        <div style="overflow_hidden"><input type="checkbox" /> 51 - 65</div>
        <div style="overflow_hidden"><input type="checkbox" /> 66 - 80</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Χρονικό Target Group
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div style="overflow_hidden"><input type="checkbox" /> Δευτέρα</div>
        <div style="overflow_hidden"><input type="checkbox" /> Τρίτη</div>
        <div style="overflow_hidden"><input type="checkbox" /> Τετάρτη</div>
        <div style="overflow_hidden"><input type="checkbox" /> Πέμπτη</div>
        <div style="overflow_hidden"><input type="checkbox" /> Παρασκευή</div>
        <div style="overflow_hidden"><input type="checkbox" /> Σάββατο</div>
        <div style="overflow_hidden"><input type="checkbox" /> Κύριακη</div>
      </div>
    </div>
  </div>
</div>