

<%#= render "shared/nav" %>

<div class="container">

  <div class="points-section">

    <div class="logo">Move 'n Win</div>

    <div class="points-user-wrapper">

      <span class="glyphicon glyphicon-th-list button-events-list"></span>

      <div class="points-user-all">
        <small>score</small>
        <span class="num">1000</span>
        <span class="glyphicon glyphicon-plus"></span>
      </div>

      <div class="points-user">
        <small>points</small>
        <span class="num">351</span>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>

    </div>

  </div>

  <div class="welcome">

  <ul class="list-group list-events">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-gift"></span>
      <span class="event-text">Ο χρήστης <a href=''>Petros</a> σου χάρισε 10 πόντους</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Dapibus ac facilisis in</span>
      <span class="event-points">+20</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Morbi leo risus</span>
      <span class="event-points">-35</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      <span class="event-text">Porta ac consectetur ac</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Vestibulum at eros</span>
      <span class="event-points">+20</span>
    </li>
  </ul>

  <ul class="list-group list-win hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Cras justo odio</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Dapibus ac facilisis in</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Morbi leo risus</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Porta ac consectetur ac</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Vestibulum at eros</span>
    </li>
  </ul>

  <ul class="list-group list-buy hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Cras justo odio</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Dapibus ac facilisis in</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Morbi leo risus</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Porta ac consectetur ac</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Vestibulum at eros</span>
    </li>
  </ul>

</div>

</div>
