

<%#= render "shared/nav" %>

<div class="container">

  <div class="points-section">

    <div class="logo">Move 'n Win</div>

    <div class="points-user-wrapper">

      <span class="glyphicon glyphicon-th-list button-events-list"></span>

      <div class="points-user-all">
        <small>score</small>
        <span class="num"><%= current_user.total_pts %></span>
        <span class="glyphicon glyphicon-plus"></span>
      </div>

      <div class="points-user">
        <small>points</small>
        <span class="num"><%= current_user.current_pts %></span>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>

    </div>

  </div>

  <div class="welcome">

  <ul class="list-group list-events">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-gift"></span>
      <span class="event-text">Ο χρήστης <a href='#'>petros99@gmail.com</a> σου χάρισε 10 πόντους</span>
      <span class="event-points">+30</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-question-sign"></span>
      <span class="event-text">Απάντησες σε ερώτηση</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Καταχώρησες εισιτήριο</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Εξαργύρωσες πόντους (αγορά εισιτηρίου)</span>
      <span class="event-points">-100</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      <span class="event-text">Η πρόσκληση του χρήστη <a href="#">MariaKotsa99@gmail.com</a> έγινε αποδεκτή</span>
      <span class="event-points">+150</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Σκανάρισες QR Kalovolos Hlektroniki</span>
      <span class="event-points">+20</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Εξαργύρωσες πόντους (έκπτωση 20% βιβλιοπολείο Παπαχωτηρίου)</span>
      <span class="event-points">-300</span>
    </li>
     <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Δημοσίευση στο Facebook</span>
      <span class="event-points">+10</span>
    </li>
     <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Δημοσίευση στο Twitter</span>
      <span class="event-points">+10</span>
    </li>
  </ul>

  <ul class="list-group list-win hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Απάντησε σε ερώτηση</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text" id="add-ticket-number"><a href="/users/scan_ticket">Καταχώρησε αριθμό εισιτηρίου</a></span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Δημοσίευση στο Facebook</span>
      <span class="event-points">+10</span>
    </li>
        <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Δημοσίευση στο Twitter</span>
      <span class="event-points">+10</span>
    </li>

    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Σκάναρε QR διαφήμισης</span>
      <span class="event-points">+20</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Δες διαφήμιση</span>
      <span class="event-points">+20</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text"><a href="/users/invite">Κάλεσε χρήστη στο Move 'n Win</a></span>
      <span class="event-points">+150</span>
    </li>
  </ul>

  <ul class="list-group list-buy hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Αγορά εισιτηρίου</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-gift"></span>
      <span class="event-text">Προσφορές από συνεργαζόμενες επιχειρήσεις</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      <span class="event-text">Αποστολή πόντων σε άλλο χρήστη</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-heart"></span>
      <span class="event-text">Αποστολή πόντων σε φιλανθρωπικές οργανώσεις</span>
    </li>
  </ul>

</div>

</div>
