

<%#= render "shared/nav" %>

<div class="container">

  <div class="points-section">

    <div class="logo">Move 'n Win</div>

    <div class="points-user-wrapper">

      <span class="glyphicon glyphicon-th-list button-events-list"></span>

      <div class="points-user-all">
        <small>score</small>
        <span class="num">1000</span>
        <span class="glyphicon glyphicon-plus"></span>
      </div>

      <div class="points-user">
        <small>points</small>
        <span class="num">351</span>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>

    </div>

  </div>

  <div class="welcome">

  <ul class="list-group list-events">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-gift"></span>
      <span class="event-text">Ο χρήστης <a href='#'>petros99@gmail.com</a> σου χάρισε 10 πόντους</span>
      <span class="event-points">+30</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-question-sign"></span>
      <span class="event-text">Απάντησες σε ερώτηση</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Καταχώρησες εισιτήριο</span>
      <span class="event-points">+10</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Εξαργύρωσες πόντους (αγορά εισιτηρίου)</span>
      <span class="event-points">-100</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      <span class="event-text">Η πρόσκληση του χρήστη <a href="#">MariaKotsa99@gmail.com</a> έγινε αποδεκτή</span>
      <span class="event-points">+150</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>
      <span class="event-text">Σκανάρισες QR Kalovolos Hlektroniki</span>
      <span class="event-points">+20</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Εξαργύρωσες πόντους (έκπτωση 20% βιβλιοπολείο Παπαχωτηρίου)</span>
      <span class="event-points">-300</span>
    </li>
  </ul>

  <ul class="list-group list-win hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Απάντησε σε ερώτηση</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Καταχώρησε αριθμό εισιτηρίου</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Σκάναρε QR διαφήμισης</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Δες διαφήμιση</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="event-text">Κάλεσε χρήστη στο Move 'n Win</span>
    </li>
  </ul>

  <ul class="list-group list-buy hidden">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Θέλω εισιτήριο</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Θέλω δώρο απο συνεργαζόμενη επιχείρηση</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Χαρίζω πόντους σε άλλο χρήστη</span>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span class="event-text">Χαρίζω στο Χαμόγελο του παιδιού</span>
    </li>
  </ul>

</div>

</div>
