

<% content_for :page_title do %>
	Questions
<% end %>

<div class="list-group">
  <% @questions.each do |question| %>

    <%= link_to [:admin, question], class: 'list-group-item'  do%>
       <%= question.content %>
    <% end %>
    <%#= link_to 'Edit', edit_admin_question_path(question) %>
  <% end %>
</div>

<br>

<%= link_to 'New Question', new_admin_question_path, :class => "btn btn-primary" %>
