

	<div class="panel panel-default">
		<div class="panel-body">
			<h2><%= @question.content %></h2>
		</div>
		<div class="panel-footer">
		  <strong> Πόντοι:</strong>
		  <%= @question.weight %>
			<div class="pull-right">
				<%= link_to 'Επεξεργασία', edit_admin_question_path(@question), :class => 'btn btn-warning btn-xs' %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">Απαντήσεις / Χρόνος</div>
				<div class="panel-body">
					<div id="linechart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-6">

			<div class="panel panel-info">
				<div class="panel-heading">Απαντήσεις</div>
				<div class="panel-body">
					<div id="overall-pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">Απαντήσεις</div>
				<div class="panel-body">
					<div id="no-pie"></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">Απαντήσεις</div>
				<div class="panel-body">
					<div id="yes-donut"></div>
				</div>
			</div>

		</div>

		<div class="col-sm-6">

			<div class="panel panel-info">
				<div class="panel-heading">Απαντήσεις</div>
				<div class="panel-body">
					<div id="no-donut"></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">Comparison between Men and Women for Yes Answer</div>
				<div class="panel-body">
					<div id="yes-pie"></div>
				</div>
			</div>

		</div>

	</div>
