

@import url("//fonts.googleapis.com/css?family=Lobster");

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

@import "bootstrap-sprockets";
@import "bootstrap";

$color-primary-0: #D12B0D;	// Main Primary color */
$color-primary-1: #FF785F;
$color-primary-2: #EF4F32;
$color-primary-3: #AA1A00;
$color-primary-4: #811400;

$color-secondary-1-0: #D1B70D;	// Main Secondary color (1) */
$color-secondary-1-1: #FFEA5F;
$color-secondary-1-2: #EFD532;
$color-secondary-1-3: #AA9300;
$color-secondary-1-4: #817000;

$color-secondary-2-0: #3E168F;	// Main Secondary color (2) */
$color-secondary-2-1: #6D4DB0;
$color-secondary-2-2: #552FA3;
$color-secondary-2-3: #2E0C74;
$color-secondary-2-4: #210658;

$color-complement-0: #09993A;	// Main Complement color */
$color-complement-1: #46BC6E;
$color-complement-2: #25AF53;
$color-complement-3: #007D2A;
$color-complement-4: #005F20;



body {
  margin-bottom: 200px;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  position: absolute;
  transform: rotate(-15deg);
  top: 120px;
  left: 5px;
  color: $color-primary-2;
  text-shadow: 2px 2px 0 $color-primary-4, 4px 4px 0 #FFF;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.container {
  max-width: 800px;
}

.points-section {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: image-url("bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.button-events-list {
  position: relative;
  border-radius: 50%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  background: $color-secondary-1-4;
  padding: 20px;
  top: 230px;
  right: 320px;
  border: 5px $color-secondary-1-2 solid;
}

.points-user-wrapper {
  max-width: 320px;
  margin: 0 50px 0 auto;
  opacity: .95;
  @extend .clearfix;
  > div {
    position: relative;
    cursor: pointer;
  }
  .glyphicon {
    display: block;
    position: absolute;
    border-radius: 50%;
    color: #FFF;
    font-size: 24px;
  }
}

.points-user-all {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  background: $color-complement-4;
  border: 5px $color-complement-2 solid;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  .num {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
  }
  .glyphicon {
    top: -10px;
    left: -10px;
    background: $color-complement-2;
    padding: 10px;
  }
}

.points-user {
  width: 220px;
  height: 220px;
  padding-top: 60px;
  background: $color-primary-4;
  border: 7px $color-primary-2 solid;
  border-radius: 50%;
  text-align: center;
  float: right;
  margin-top: -50px;
  color: #FFF;
  .num {
    display: block;
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
  }
  .glyphicon {
    top: -30px;
    right: -10px;
    background: $color-primary-2;
    padding: 20px;
    font-size: 48px;
  }
}

.list-win,
.list-buy,
.list-events {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 1.2em;
  .glyphicon {
    font-size: 24px;
    margin-right: 10px;
    background: $color-complement-4;
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
    vertical-align: -6px;
  }
  .glyphicon-gift {
    background: $color-complement-4;
  }
  .glyphicon-shopping-cart {
    background: $color-primary-2;
  }

  .glyphicon-question-sign{
    background: $color-complement-4;
  }

  .glyphicon-heart{
    background: $color-primary-3;
  }
}

.event-datetime {
  font-size: .6em;
  color: #999;
  position: absolute;
  top: 8px;
}

.event-points {
  @extend .label;
  @extend .label-default;
  float: right;
  margin-top: 13px;
  padding: 4px;
}

#add-ticket-number a:hover, a:focus{
  color:orange;
  text-decoration: none;
}

.question {
  border: 1px solid #333;
  padding: 30px 30px 100px;
}

.answers {
  margin-top: -75px;
  a {
    text-decoration: none !important;
  }
  .glyphicon {
    font-size: 48px;
    margin: 10px;
    border-radius: 50%;
    color: #FFF;
    background: #333;
    padding: 20px;
    cursor: pointer;
    border: 10px #FFF solid;
    &:hover {
      background: #CCC;
      color: #333;
    }
  }
  // .glyphicon-thumbs-up {
  //   background: gray;
  // }
  // .glyphicon-thumbs-down {
  //   background: gray;
  // }
}
