

@import url("//fonts.googleapis.com/css?family=Lobster");
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin: 0;
  border-radius: 0;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  position: absolute;
  transform: rotate(-15deg);
  top: 80px;
  left: 15px;
  color: red;
  text-shadow: 2px 2px 0 #532647;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.container {
  max-width: 800px;
}

.points-section {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: image-url("bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.button-events-list {
  position: relative;
  border-radius: 50%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  background: darkorange;
  padding: 20px;
  top: 230px;
  right: 320px;
  border: 5px darken(darkorange, 7%) solid;
}

.points-user-wrapper {
  max-width: 320px;
  margin: 0 50px 0 auto;
  opacity: .95;
  @extend .clearfix;
  > div {
    position: relative;
    cursor: pointer;
  }
  .glyphicon {
    display: block;
    position: absolute;
    border-radius: 50%;
    color: #FFF;
    font-size: 24px;
  }
}

.points-user-all {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  background: lightblue;
  border: 5px darken(lightblue, 10%) solid;
  border-radius: 50%;
  text-align: center;
  color: darken(lightblue, 50%);
  .num {
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1;
  }
  .glyphicon {
    top: -10px;
    left: -10px;
    background: darken(lightblue, 50%);
    padding: 10px;
  }
}
.points-user {
  width: 220px;
  height: 220px;
  padding-top: 60px;
  background: lightgreen;
  border: 5px darken(lightgreen, 10%) solid;
  border-radius: 50%;
  text-align: center;
  float: right;
  margin-top: -50px;
  color: darken(lightgreen, 60%);
  .num {
    display: block;
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
  }
  .glyphicon {
    top: -30px;
    right: -10px;
    background: darken(lightgreen, 60%);
    padding: 20px;
    font-size: 48px;
  }
}

.list-win,
.list-buy,
.list-events {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 1.2em;
  .glyphicon {
    font-size: 24px;
    margin-right: 10px;
    background: #222;
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
    vertical-align: -6px;
  }
  .glyphicon-gift {
    background: darkgreen;
  }
  .glyphicon-shopping-cart {
    background: darkorange;
  }

  .glyphicon-question-sign{
    background: darkred;
  }

  .glyphicon-heart{
    background: red;
  }
}

.event-datetime {
  font-size: .6em;
  color: #999;
  position: absolute;
  top: 8px;
}

.event-points {
  @extend .label;
  @extend .label-default;
  float: right;
  margin-top: 13px;
  padding: 4px;
}

#add-ticket-number a:hover, a:focus{
  color:orange;
  text-decoration: none;
}

.answers {
  margin-top: 30px;
  .glyphicon {
    font-size: 48px;
    margin: 10px;
    border-radius: 50%;
    color: #FFF;
    background: #333;
    padding: 20px;
    cursor: pointer;
  }
  .glyphicon-thumbs-up {
    background: green;
  }
  .glyphicon-thumbs-down {
    background: orange;
  }
}
